body {
  top: 0px;
  left: 0px;
  width: 99%;
  height: 1100px;
  background-color: white;
}

.heading {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 94px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #7B7B7B29;
  opacity: 1;
}

.container2 {
display: flex;
flex-direction: row;
 /* justify-content: stretch; */

  width: 100%;
  height: 100%;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  opacity: 1;
}

.box1 {
  height: 50px;
  width: 200px;
  position: absolute;
  top: 30px;
  left: 150px;
}

.s1 {
  top: 0px;
  left: 0px;
  width: 115px;
  height: 49px;
  text-align: left;
  font: normal normal bold 40px/49px Inter;
  letter-spacing: 0px;
  color: #424242;
}

.s2 {
  top: 0px;
  left: 115px;
  width: 81px;
  height: 49px;
  text-align: left;
  font: normal normal bold 40px/49px Inter;
  letter-spacing: 0px;
  color: #00A5EC;
}

.box2 {
  position: absolute;
  top: 30px;
  right: 100px;
  width: 215px;
  height: 50px;
}

.plus {
  color: #00A5EC;
  opacity: 1;
  font-size: 40px;
  text-align: left;
}

.t1 {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 150px;
  height: 26px;
  text-align: right;
  font: normal normal normal 22px/26px;
  font-family: 'Inter', sans-serif;
  color: #424242;
  opacity: 1;
  text-decoration: none;
}

.task-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:stretch;
  column-gap:10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;

}



.task {
  background-color: #FFFFFF;
 margin-top: 40px;
   margin-left: 100px;
  width: 230px;
  height: 200px;
  opacity: 1;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  padding: 2%;

}
.task:hover{
    box-shadow: 0px 0px 10px grey;
    cursor: pointer;

}
.c1 {
 
  text-align: left;
  font-size: 20px;

   font-family: 'Inter', sans-serif;
  color: #00A5EC;
  opacity: 1;

}

hr{
  background-color: grey;

}
.line{
  text-decoration: line-through;
  color: #C2C2C2;
  font-size: 20px;
}

input.large{
    width: 20px;
    height: 20px;
}

.L1{
  color: #424242;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.blur{
  position:relative;
  
  filter: blur(5px);



}

.new-task{
  height: 250px;
  width: 450px;
  background-color: white;
  box-shadow: 0px 0px 100px #67676729;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  margin: 30%;
  position: relative;
  bottom: 65%;
}

.btn2{
  background-color: #00A5EC;
  width: 180px;
  height: 48px;
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 40px;
  right: 20px;
  border-radius: 5px;
  border: none;
  font-family: 'Inter', sans-serif;

}

.fa-xmark {
  opacity: 1;
  font-size: 40px;
  position: absolute;
  top: 1px;
  right: 30px;
  color: black;


}


.page2{
  font-size: 20px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 18px;
  left: 15px;
  font-family: 'Inter', sans-serif;
}


.text-box{
  position: absolute;
  top: 50px;
  left: 0;
}
.place{
  border-radius: 10px;
  background-color: #F7F7F7;
  border: none;
  position: absolute;
  left: 10px;
  top: 30px;
}

.task-containerp3 {
  position:relative; 
  left: 0;
  top: 180px;
  width: 100%;
  height: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.taskp3 {
  background-color: #FFFFFF;
  margin: 30px;
  margin-left: 130px;
  position: absolute;
  top: 100px;
  left: 350px;
  width: 300px;
  height: 200px;
  opacity: 1;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  padding: 2%;

}
.taskp3:hover{
    box-shadow: 0px 0px 10px grey;
    cursor: pointer;

}

.fa-circle-arrow-left{
  color:black;
  opacity: 1;
  font-size: 40px;
  text-align: right;
}



.boxp3{
  position:relative;
  top: 50px;
  left: 434px;
  width: 357px;
  height: 50px;
}
.boxp31{
  position:relative;
  top: 50px;
  left: 434px;
  width: 357px;
  height: 50px;
}


.fa-circle-plus {
  color: #00A5EC;
  opacity: 1;
  font-size: 40px;
  text-align: left;
}
.blurp3{
  filter: blur(5px);  
}

@media (min-width:360px) and (max-width:650px){
  .container2 {
    width: 230px;
    flex-direction:column;
  flex-wrap: wrap;

  }

  .task-container{
    width: 230px;
    display: flex;
    flex-direction:column;
  flex-wrap: wrap;
  
}
.new-task{
  width: 450px;
}

.task-containerp3{
  justify-content: center;
  margin-right: 100px;
}


.boxp3{
  position:relative;
  top: 50px;
  left: 250px;
  width: 357px;
  height: 50px;
}
  
.boxp31{
  position: relative;
  top: -500px;
  left: 486px;
  width: 357px;
  height: 50px;
}

.taskp3{
  background-color: #FFFFFF;
  margin: 30px;
  margin-left: 170px;
  position: absolute;
  top: 100px;
  left: 90px;
  width: 300px;
  height: 200px;
  opacity: 1;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  padding: 2%;
}
}




